<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Review Produk</title>
    <link href="review_produk_style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Review Produk</h1> 
    <table>
      <tr>
        <th>Nama</th>
        <th>Kondisi</th>
        <th>Rating</th>
        <th>Tanggal Penjualan</th>
        <th>Review</th>
        <th>Gambar</th>
      </tr>
      {% for produk in index %}
      <tr>
        <td>{{produk.nama}}</td>
        <td>{{produk.kondisi}}</td>
        <td>{{produk.rating}}</td>
        <td>{{produk.tanggal_penjualan}}</td>
        <td>{{produk.review}}</td>
        <td><img src="{{produk.gambar.url}}"></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>